h2 {
  color: red;
  font-size: 35px;
  margin: auto;
  background-color: beige;
  text-align: center;
}
h1 {
  color: brown;
  font-size: 35px;
  margin: auto;
  background-color: beige;
  text-align: center;
}
