*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: wheat;
  background-size: cover;
  box-sizing: border-box;
}

iframe #fake {
  width: 800px;
  height: 500px;
  resize: both;
  overflow: hidden;
}