*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: wheat;
  background-size: cover;
}
.floated{
  margin-left: 10;
}

.container{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.7));
  background-position: center;
  background-size: cover;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}
.navbar{
  height: 12%;
  display: flex;
  align-items: center;
}
.logo{
  width: 50px;
  cursor: pointer;
}
.menu-icon{
  width: 30px;
  cursor: pointer;
  margin-left: 40px;
}
nav{
  flex: 1;
  text-align: right;
}
nav ul li{
  list-style: none;
  display: inline-block;
  margin-left: 60px;
}
nav ul li a{
  text-decoration: none;
  color: rgb(65, 115, 172);
  font-size: 13px;
}
.row{
  display: flex;
  height: 88%;
  align-items: center;
}
.col{
  flex-basis: 50%;
}
h1{
  color: rgb(34, 60, 146);
  font-size: 100px;

}
p{
  color: rgb(34, 60, 146);
  font-size: 11px;
  line-height: 15px;
}
button{
  width: 180px;
  color: #000;
  font-size: 12px;
  padding: 12px 0;
  background: rgb(34, 60, 146);
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;
}

.body-text {
  margin-left: 100px;
  font-size: 17px;
}

aside{
  color: whitesmoke;
  font-size: italic;
}

.sidebar{
  height: 33%;
  width: 300px;
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 40px;
  background-color: thistle;
}

.sidebar div { 
padding: 10px;
font-size: 22px;
display: block;
}